<h1> Welcome#index </h1>
<div>
<% if current_user.present? %>
	 Добро пожаловать  
	 <b>
	 <%=current_user.surname %>
	 <%= current_user.name %>
	 <%=current_user.patronymic  %>
	 </b>
	 !<br>
	 <%= link_to 'Выйти', logout_path %>
<% else %>
	<%= link_to 'Зарегистрироваться', new_user_path %>
	<%= link_to 'Войти', login_path %>
<% end %>
</div>



<div>
<table cellspacing="5" cellpadding="10" border="1" width="100%">
		<% @petitions.each do |petition| %>
			<tr>
				<td><%= link_to petition.title, petition_path(petition) %> </td>
				<td><%= link_to 'Удалить', petition_path(petition), method: :delete, confirm: "Вы уверены?"%> </td>
				<td><%= link_to 'Редактировать', edit_petition_path(petition) %> </td>
				<td><%= petition.votes %></td>
			</tr>		
		<% end %>
	</table>
</div>

<div>
	<%= link_to "Создать петицию", new_petition_path %>
</div>